* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fffefc;
}
p {
  margin: 0;
}
h2, ol {
  margin-top: 0;
}
main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.manual {
  position: relative;
  width: 30%;
  min-width: 300px;
  background-color: #f5f5f5;
  padding: 24px;
}
.auto {
  display: flex;
  flex-direction: column;
  padding: 24px;
  flex: 1;
}
.manual__btn {
  height: 200px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #37352f;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
}
.manual__btn:disabled {
  background-color: #7b766a;
  cursor: not-allowed;
}
.manual__code {
  padding: 24px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  height: 72px;
  margin-bottom: 24px;
}
.manual__code__text {
  line-height: 24px;
}
.manual__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.copied {
  position: absolute;
  right: 24px;
  top: 24px;
  height: 24px;
  width: 24px;
  transition: 0.3s;
}
.info {
  display: flex;
  align-items: center;
}
.manual__form {
  margin-bottom: 20px;
  display: flex;
}
.manual__form input {
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px 0 0 5px;
  height: 30px;
  padding: 20px;
  flex: 1;
  max-width: 70%;
  outline: none;
}
.manual__form button {
  border: none;
  background-color: #37352f;
  border-radius: 0 5px 5px 0;
  padding: 0 20px;
  color: #fff;
}
.manual__form__btn:disabled {
  background-color: #7b766a;
  cursor: not-allowed;
}
.manual__log {
  margin: 0;
  padding: 16px;
  width: 100%;
  flex: 1;
  border-radius: 5px;
  list-style: none;
  color: white;
  background-color: #0e1e25;
  line-break: anywhere;
}
.manual__log li {
  padding: 2px;
}
.log-message--error {
  background-color: rgba(255, 96, 96, 0.6);
}
footer {
  padding: 5px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}